/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    background-color: #1c1c1c;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #1c1c1c;
    padding: 10px 20px;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Distribute space between items */
}

.navbar-brand {
    font-family: 'Arial Black', sans-serif;
    font-size: 24px;
    color: #fff;
}

.search-container {
    flex: 1; /* Allow the container to take up available space */
    max-width: 800px; /* Set a maximum width for the search container */
    margin: 0 auto; /* Center the container horizontally */
}

.form-control {
    background-color: #2a2a2a;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    color: #fff;
    width: 100%;
}

.form-control::placeholder {
    color: #b3b3b3;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-text {
    margin-left: 20px;
    color: #fff;
}

#gameResults {
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 300px; /* Adjust for larger images */
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.15rem;
}

.card-text {
    font-size: 0.9rem;
}

.btn-primary {
    background: transparent;
    background-color: #000;
    border-color: #fefefe;

}

.btn-dark:hover {
    border-color: #000;
    color: #fefefe;
}

/* Center "See More" button */
.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem;
}