/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    background-color: #1c1c1c;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #1c1c1c;
    padding: 10px 20px;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Distribute space between items */
}

.navbar-brand {
    font-family: 'Arial Black', sans-serif;
    font-size: 24px;
    color: #fff;
}

.search-container {
    flex: 1; /* Allow the container to take up available space */
    max-width: 800px; /* Set a maximum width for the search container */
    margin: 0 auto; /* Center the container horizontally */
}

.form-control {
    background-color: #2a2a2a;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    color: #fff;
    width: 100%;
}

.form-control::placeholder {
    color: #b3b3b3;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-text {
    margin-left: 20px;
    color: #fff;
}

#gameResults {
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%; /* Make sure cards take full height in the column */
}

.card-img-top {
    height: 200px; /* Set a fixed height for images */
    object-fit: cover;
}

.card-body {
    flex: 1; /* Ensure card body takes up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure spacing between elements in card body */
    padding: 15px;
}

.card-title {
    font-size: 1.15rem;
    margin-bottom: 10px; /* Add some space below the title */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Handle text overflow with ellipsis */
}

.card-text {
    font-size: 0.9rem;
    margin-bottom: 5px; /* Add some space between paragraphs */
}

.btn-primary {
    background: transparent;
    background-color: #000;
    border-color: #fefefe;
}

.btn-dark:hover {
    border-color: #000;
    color: #fefefe;
}

/* Center "See More" button */
.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem;
}

/* Star Rating Styles */
.fa-star, .fa-star-half-alt, .fa-star-o {
    color: gold;
    font-size: 1.5rem; /* Adjust the size as needed */
}
